{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "no-console": 0,
        "semi": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            "tab"
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    }
}