svg {
	transition: color .3s linear;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
}

svg:hover {
	color: yellow;
	transition: color .3s linear;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	cursor: pointer;
}
